{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>¿Olvidaste la contraseña?</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{% static 'myapp/css/styles_forgot_password.css' %}"
    /> 
  </head>
  <body>
    <div class="container_principal">
      <div class="titulo"><h1>NEX</h1></div>
      <form class="formulario" method="post">
        {% csrf_token %}
        <p>Ingresa el correo electrónico asociado a tu cuenta para enviarte un codigo para restablecer tu contraseña</p>
        <label>Correo electrónico:</label>
        <input type="email" name="email" required />
        <button type="submit">Enviar código</button>
        {% if error %}
        <p style="color: red">{{ error }}</p>
        {% endif %}
      </form>
      <div class="links"><a class="link" href="{% url 'login' %}">Iniciar Sesion</a></div>
    </div>
  </body>
</html>
